<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>내일 우리 동네는?</h1>
</br>

<div>### 1. POST <a href="javascript:postToUrl('/neighborhoods/정자동/update')">/neighborhoods/{동네}/update</a>
</div>
<div>### 2. GET <a href="/neighborhoods/정자동">/neighborhoods/{동네}</a></div>
<div>### 3. GET <a href="/neighborhoods/정자동/request-types/TEMPERATURE">/neighborhoods/{동네}/request-types/{데이터
  타입}</a></div>
<div>### 4. GET <a href="/neighborhoods/정자동/view-count">/neighborhoods/{동네}/view-count</a></div>
</body>
</html>

<script>
  function postToUrl(path) {

    var form = document.createElement("form");
    form.setAttribute("method", 'post');
    form.setAttribute("action", path);

    document.body.appendChild(form);
    form.submit();
  }
</script>
